#cloud-config
users:
  - name: ${admin_username}
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    groups: sudo
    shell: /bin/bash
    passwd: ${hashed_password}
    lock_passwd:  false

package_upgrade: true
packages:
  - nodejs
  - npm
  - git

runcmd:
  - cd /home/${admin_username} 
  - curl -sL https://deb.nodesource.com/setup_19.x | sudo -E bash -
  - sudo apt-get install -y nodejs
  - git clone ${nodejs_repo_url}
  - repo_folder=$(basename "${nodejs_repo_url}" .git)
  - cd $repo_folder
  - npm install
  - export PORT=${backend_port}
  - export WEBSITE_PRIVATE_IP=$(hostname -I)
  - node ${start_file}